@import url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, .plan .offer .starter__button, .plan .offer .pro__button {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s linear; }

p + p {
  margin-top: 32px; }

p a, p .plan .offer .starter__button, .plan .offer p .starter__button, p .plan .offer .pro__button, .plan .offer p .pro__button {
  color: #43a5f1;
  text-decoration: underline; }

ul {
  list-style: none; }

input[type="email"],
button {
  outline: none;
  border: none; }

body {
  font: 400 16px/1.4 "Lato", Arial, Tahoma, sans-serif; }

.wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

section {
  padding: 120px 0; }

.header {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 10;
  width: 100%; }
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .navigation .mobile_menu {
      display: none;
      width: 33px;
      height: auto;
      margin: 5px; }
      @media (max-width: 900px) {
        .header .navigation .mobile_menu {
          display: block; } }
      .header .navigation .mobile_menu img {
        width: 100%;
        height: auto;
        cursor: pointer; }
    .header .navigation a.logo, .header .navigation .plan .offer .logo.starter__button, .plan .offer .header .navigation .logo.starter__button, .header .navigation .plan .offer .logo.pro__button, .plan .offer .header .navigation .logo.pro__button {
      padding: 15px;
      margin: 0 20px; }
      @media (max-width: 900px) {
        .header .navigation a.logo, .header .navigation .plan .offer .logo.starter__button, .plan .offer .header .navigation .logo.starter__button, .header .navigation .plan .offer .logo.pro__button, .plan .offer .header .navigation .logo.pro__button {
          padding: 5px; } }
    .header .navigation__left, .header .navigation__right {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 900px) {
        .header .navigation__left, .header .navigation__right {
          display: none;
          width: 100%;
          position: absolute;
          text-align: center; } }
      .header .navigation__left li, .header .navigation__right li {
        padding: 15px 5px;
        margin: 20px;
        color: #26272d;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400; }
        .header .navigation__left li a:hover, .header .navigation__left li .plan .offer .starter__button:hover, .plan .offer .header .navigation__left li .starter__button:hover, .header .navigation__left li .plan .offer .pro__button:hover, .plan .offer .header .navigation__left li .pro__button:hover, .header .navigation__right li a:hover, .header .navigation__right li .plan .offer .starter__button:hover, .plan .offer .header .navigation__right li .starter__button:hover, .header .navigation__right li .plan .offer .pro__button:hover, .plan .offer .header .navigation__right li .pro__button:hover {
          color: #267df4; }
        @media (max-width: 1024px) {
          .header .navigation__left li, .header .navigation__right li {
            margin: 20px 15px; } }
        @media (max-width: 900px) {
          .header .navigation__left li, .header .navigation__right li {
            margin: 0;
            padding: 6px; } }
      .header .navigation__left .light-gray-text-color, .header .navigation__right .light-gray-text-color {
        color: #a5a9b0; }
    .header .navigation__left {
      margin-right: 20px; }
      @media (max-width: 900px) {
        .header .navigation__left {
          top: 100%;
          left: 0; } }
    .header .navigation__right {
      margin-left: -20px; }
      @media (max-width: 960px) {
        .header .navigation__right {
          margin-left: -10px; } }
      @media (max-width: 900px) {
        .header .navigation__right {
          top: 395%;
          left: 0;
          margin-left: 0; } }

a.button__blue, .plan .offer .button__blue.starter__button, .plan .offer .button__blue.pro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: #267df4;
  transition: background-color 0.2s linear;
  border-radius: 21px;
  border-width: 0;
  border-style: solid;
  border-color: #e9e9ea; }
  a.button__blue:hover, .plan .offer .button__blue.starter__button:hover, .plan .offer .button__blue.pro__button:hover {
    background: #bcbcbd;
    background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
    border-radius: 21px;
    border-width: 0;
    border-style: solid;
    border-color: #e9e9ea; }
  @media (max-width: 960px) {
    a.button__blue, .plan .offer .button__blue.starter__button, .plan .offer .button__blue.pro__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 40px;
      background-color: #267df4;
      transition: background-color 0.2s linear;
      margin: 0 auto; }
      a.button__blue:hover, .plan .offer .button__blue.starter__button:hover, .plan .offer .button__blue.pro__button:hover {
        background: #bcbcbd;
        background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
        border-radius: 21px;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea; } }
  a.button__blue img, .plan .offer .button__blue.starter__button img, .plan .offer .button__blue.pro__button img {
    width: 17px;
    height: auto;
    margin-right: 7px; }
  a.button__blue span, .plan .offer .button__blue.starter__button span, .plan .offer .button__blue.pro__button span {
    padding: 3px 5px;
    color: #fff; }

.footer {
  padding: 73px 0 35px; }
  .footer__inner {
    padding: 0 25px;
    position: relative; }
    @media (max-width: 490px) {
      .footer__inner {
        padding: 0 8px; } }
    .footer__inner:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #f4f4f4;
      position: absolute;
      top: 85%;
      left: 0; }
    .footer__inner__sitemap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row; }
      @media (max-width: 768px) {
        .footer__inner__sitemap {
          flex-direction: column; } }
      .footer__inner__sitemap .contact_block {
        margin: 0 20px 0 0;
        order: 1; }
        @media (max-width: 768px) {
          .footer__inner__sitemap .contact_block {
            order: 2;
            margin: 40px 0 0;
            width: 100%; } }
        @media (max-width: 360px) {
          .footer__inner__sitemap .contact_block {
            margin: 25px 0 0; } }
        .footer__inner__sitemap .contact_block p {
          font-family: "Lato", sans-serif;
          line-height: 1.7;
          font-size: 14px;
          font-weight: 400;
          color: #8c8f94;
          max-width: 250px;
          padding: 10px 0;
          margin: 15px 0 20px; }
          @media (max-width: 768px) {
            .footer__inner__sitemap .contact_block p {
              max-width: none;
              margin: 10px 0 15px; } }
        .footer__inner__sitemap .contact_block a.download__button, .footer__inner__sitemap .contact_block .plan .offer .download__button.starter__button, .plan .offer .footer__inner__sitemap .contact_block .download__button.starter__button, .footer__inner__sitemap .contact_block .plan .offer .download__button.pro__button, .plan .offer .footer__inner__sitemap .contact_block .download__button.pro__button {
          border-radius: 5px;
          border-width: 0;
          border-style: solid;
          border-color: #e9e9ea;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 45px;
          background-color: #26272d;
          transition: background-color 0.2s linear;
          padding: 5px 5px; }
          .footer__inner__sitemap .contact_block a.download__button:hover, .footer__inner__sitemap .contact_block .plan .offer .download__button.starter__button:hover, .plan .offer .footer__inner__sitemap .contact_block .download__button.starter__button:hover, .footer__inner__sitemap .contact_block .plan .offer .download__button.pro__button:hover, .plan .offer .footer__inner__sitemap .contact_block .download__button.pro__button:hover {
            background: #bcbcbd;
            background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
            border-radius: 21px;
            border-width: 0;
            border-style: solid;
            border-color: #e9e9ea; }
          .footer__inner__sitemap .contact_block a.download__button:hover, .footer__inner__sitemap .contact_block .plan .offer .download__button.starter__button:hover, .plan .offer .footer__inner__sitemap .contact_block .download__button.starter__button:hover, .footer__inner__sitemap .contact_block .plan .offer .download__button.pro__button:hover, .plan .offer .footer__inner__sitemap .contact_block .download__button.pro__button:hover {
            border-radius: 5px;
            border-width: 0;
            border-style: solid;
            border-color: #e9e9ea; }
          .footer__inner__sitemap .contact_block a.download__button div, .footer__inner__sitemap .contact_block .plan .offer .download__button.starter__button div, .plan .offer .footer__inner__sitemap .contact_block .download__button.starter__button div, .footer__inner__sitemap .contact_block .plan .offer .download__button.pro__button div, .plan .offer .footer__inner__sitemap .contact_block .download__button.pro__button div {
            font-family: "Lato", sans-serif;
            line-height: 1.4;
            font-size: 10px;
            font-weight: 400;
            color: #fff;
            margin: 0 8px; }
            .footer__inner__sitemap .contact_block a.download__button div .app, .footer__inner__sitemap .contact_block .plan .offer .download__button.starter__button div .app, .plan .offer .footer__inner__sitemap .contact_block .download__button.starter__button div .app, .footer__inner__sitemap .contact_block .plan .offer .download__button.pro__button div .app, .plan .offer .footer__inner__sitemap .contact_block .download__button.pro__button div .app {
              font-family: "Lato", sans-serif;
              line-height: 1.4;
              font-size: 16px;
              font-weight: 400;
              margin: 0; }
        .footer__inner__sitemap .contact_block .social {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          @media (max-width: 768px) {
            .footer__inner__sitemap .contact_block .social {
              justify-content: flex-start; } }
          .footer__inner__sitemap .contact_block .social .social_icons {
            width: 35px;
            height: 35px;
            margin: 30px 0 125px;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: #bdbec0;
            display: flex;
            justify-content: center;
            align-items: center; }
            .footer__inner__sitemap .contact_block .social .social_icons:hover {
              border-radius: 21px;
              border-width: 0;
              border-style: solid;
              border-color: #e9e9ea; }
            @media (max-width: 768px) {
              .footer__inner__sitemap .contact_block .social .social_icons {
                margin-right: 10px; } }
      .footer__inner__sitemap .link_block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        order: 2;
        flex-wrap: wrap; }
        @media (max-width: 768px) {
          .footer__inner__sitemap .link_block {
            order: 1;
            justify-content: space-between;
            width: 100%; } }
        .footer__inner__sitemap .link_block .column {
          padding: 0 10px;
          margin: 0 20px; }
          @media (max-width: 960px) {
            .footer__inner__sitemap .link_block .column {
              padding: 0 5px;
              margin: 0 10px; } }
          @media (max-width: 490px) {
            .footer__inner__sitemap .link_block .column {
              margin: 10px 0; } }
          .footer__inner__sitemap .link_block .column .title {
            font-family: "Lato", sans-serif;
            line-height: 1.4;
            font-size: 14px;
            font-weight: 700;
            color: #26272d;
            text-transform: uppercase;
            padding: 5px 0; }
          .footer__inner__sitemap .link_block .column .item {
            font-family: "Lato", sans-serif;
            line-height: 1.4;
            font-size: 16px;
            font-weight: 400;
            color: #8c8f94;
            padding: 5px 0; }
            @media (max-width: 490px) {
              .footer__inner__sitemap .link_block .column .item {
                font-size: 14px; } }
    .footer__inner__copywrite {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 25px 0 0; }
      @media (max-width: 550px) {
        .footer__inner__copywrite {
          flex-direction: column; } }
      .footer__inner__copywrite .more_information {
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 12px;
        font-weight: 400;
        color: #8c8f94; }
        .footer__inner__copywrite .more_information a, .footer__inner__copywrite .more_information .plan .offer .starter__button, .plan .offer .footer__inner__copywrite .more_information .starter__button, .footer__inner__copywrite .more_information .plan .offer .pro__button, .plan .offer .footer__inner__copywrite .more_information .pro__button {
          color: #267df4; }
      .footer__inner__copywrite .logo {
        display: flex;
        align-items: center;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 9px;
        font-weight: 700;
        color: #26272d; }
        @media (max-width: 550px) {
          .footer__inner__copywrite .logo {
            order: -1;
            margin: 0 0 10px; } }
        .footer__inner__copywrite .logo img {
          margin-left: 10px; }

.advantages {
  padding: 90px 0;
  background-color: #fff; }
  @media (max-width: 768px) {
    .advantages {
      padding: 60px 0; } }
  @media (max-width: 420px) {
    .advantages {
      padding: 50px 0; } }
  .advantages__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    padding: 0 25px; }
    @media (max-width: 770px) {
      .advantages__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .advantages__inner:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #f4f4f4;
      position: absolute;
      top: 134%;
      left: 0; }
      @media (max-width: 1024px) {
        .advantages__inner:after {
          top: 128%; } }
      @media (max-width: 770px) {
        .advantages__inner:after {
          top: 115%; } }
      @media (max-width: 736px) {
        .advantages__inner:after {
          top: 107%; } }
  .advantages__item {
    max-width: 500px;
    margin: 0 50px; }
    @media (max-width: 1024px) {
      .advantages__item {
        margin: 0 35px; } }
    @media (max-width: 960px) {
      .advantages__item {
        margin: 0 30px; } }
    @media (max-width: 770px) {
      .advantages__item {
        margin: 30px 0;
        text-align: center;
        margin: 20px 0;
        max-width: none; } }
    @media (max-width: 420px) {
      .advantages__item {
        margin: 8px 0; } }
    .advantages__item:first-child {
      margin-left: 0; }
    .advantages__item:last-child {
      margin-right: 0; }
    .advantages__item h3 {
      margin: 20px 0;
      font-family: "Lato", sans-serif;
      line-height: 1.2;
      font-size: 26px;
      font-weight: 300; }
      @media (max-width: 420px) {
        .advantages__item h3 {
          font-family: "Lato", sans-serif;
          line-height: 1.2;
          font-size: 24px;
          font-weight: 300; } }
    .advantages__item p {
      margin: 20px 0;
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 18px;
      font-weight: 400;
      color: #8c8f94; }
      @media (max-width: 770px) {
        .advantages__item p {
          margin: 15px 0;
          text-align: justify; } }
      @media (max-width: 420px) {
        .advantages__item p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 16px;
          font-weight: 400; } }
    .advantages__item .advantages__icon {
      width: 42px;
      margin: 20px 0; }
      @media (max-width: 420px) {
        .advantages__item .advantages__icon {
          width: 38px;
          margin: 10px 0; } }
      @media (max-width: 320px) {
        .advantages__item .advantages__icon {
          margin: 0 0; } }

.interface {
  background-color: #f4f4f5;
  position: relative; }
  @media (max-width: 1024px) {
    .interface {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .interface {
      padding: 30px 0 60px; } }
  @media (max-width: 420px) {
    .interface {
      padding: 50px 0; } }
  .interface__inner {
    text-align: center; }
    .interface__inner__text {
      position: relative; }
      .interface__inner__text::after {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        background-color: #267df4;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .interface__inner__text span {
        display: block;
        margin: 50px 0 40px 0;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 12px;
        font-weight: 400;
        color: #a5a9b0; }
  .interface .interface-swiper-container {
    margin-left: -400px;
    margin-right: -400px;
    margin-top: 30px; }
    @media (max-width: 960px) {
      .interface .interface-swiper-container {
        margin-top: 70px; } }
    @media (max-width: 640px) {
      .interface .interface-swiper-container {
        margin-top: 0; } }
  .interface .swiper-slide {
    text-align: center;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 12%; }
  .interface__slider {
    margin-bottom: 120px; }
    .interface__slider .slider__item {
      max-height: 580px;
      box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      align-self: center; }
      .interface__slider .slider__item:nth-child(3) {
        box-shadow: none;
        max-width: 370px;
        max-height: 750px;
        align-self: center; }
      @media (max-width: 576px) {
        .interface__slider .slider__item {
          margin-top: 0; } }
      .interface__slider .slider__item img {
        width: 103%;
        height: auto; }
  .interface span {
    display: block;
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;
    color: #a5a9b0; }
  .interface h2 {
    font-family: "Varela Round", sans-serif;
    line-height: 1.2;
    font-size: 42px;
    font-weight: 400;
    color: #26272d;
    padding: 5px;
    margin: 0 0 90px 0; }
    @media (max-width: 890px) {
      .interface h2 {
        font-family: "Varela Round", sans-serif;
        line-height: 1.2;
        font-size: 38px;
        font-weight: 400;
        margin: 0 0 60px 0; } }
    @media (max-width: 480px) {
      .interface h2 {
        font-family: "Varela Round", sans-serif;
        line-height: 1.2;
        font-size: 32px;
        font-weight: 400; } }
  .interface .form {
    margin: 50px 0; }
    .interface .form__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      border-width: 1px;
      border-style: solid;
      border-color: #cbcbce;
      margin: 0 auto;
      padding: 4px;
      max-width: 500px; }
      .interface .form__wrapper input {
        background-color: transparent;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
        color: #3a3d4b;
        min-width: 65%;
        margin-left: 20px; }
        @media (max-width: 420px) {
          .interface .form__wrapper input {
            min-width: 60%;
            margin-left: 10px; } }
    .interface .form__button {
      border-radius: 21px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 165px;
      height: 38px;
      background-color: #6fc754;
      transition: background-color 0.2s linear;
      max-width: 35%;
      color: #fff;
      padding: 3px 5px; }
      .interface .form__button:hover {
        background: #bcbcbd;
        background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
        border-radius: 21px;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea; }
      .interface .form__button div {
        margin: 0 10px;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
        align-self: center; }
        @media (max-width: 420px) {
          .interface .form__button div {
            font-size: 14px;
            line-height: 1; } }
      @media (max-width: 420px) {
        .interface .form__button img {
          display: none; } }
  .interface a.download__button, .interface .plan .offer .download__button.starter__button, .plan .offer .interface .download__button.starter__button, .interface .plan .offer .download__button.pro__button, .plan .offer .interface .download__button.pro__button {
    display: block;
    border-radius: 30px;
    border-width: 0;
    border-style: solid;
    border-color: #e9e9ea;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #26272d;
    transition: background-color 0.2s linear;
    padding: 12px 20px;
    margin: 0 auto; }
    .interface a.download__button:hover, .interface .plan .offer .download__button.starter__button:hover, .plan .offer .interface .download__button.starter__button:hover, .interface .plan .offer .download__button.pro__button:hover, .plan .offer .interface .download__button.pro__button:hover {
      background: #bcbcbd;
      background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
      border-radius: 21px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea; }
    .interface a.download__button:hover, .interface .plan .offer .download__button.starter__button:hover, .plan .offer .interface .download__button.starter__button:hover, .interface .plan .offer .download__button.pro__button:hover, .plan .offer .interface .download__button.pro__button:hover {
      border-radius: 30px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea; }
    .interface a.download__button div, .interface .plan .offer .download__button.starter__button div, .plan .offer .interface .download__button.starter__button div, .interface .plan .offer .download__button.pro__button div, .plan .offer .interface .download__button.pro__button div {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      margin: 0 12px; }
      .interface a.download__button div .app, .interface .plan .offer .download__button.starter__button div .app, .plan .offer .interface .download__button.starter__button div .app, .interface .plan .offer .download__button.pro__button div .app, .plan .offer .interface .download__button.pro__button div .app {
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 23px;
        font-weight: 400;
        margin: 0; }

.feedbacks {
  text-align: center; }
  @media (max-width: 1024px) {
    .feedbacks {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .feedbacks {
      padding: 30px 0 60px; } }
  @media (max-width: 420px) {
    .feedbacks {
      padding: 50px 0; } }
  .feedbacks__inner {
    margin: 15px 0 5px; }
    .feedbacks__inner h3 {
      font-family: "Lato", sans-serif;
      line-height: 1.2;
      font-size: 32px;
      font-weight: 300;
      margin: 70px 0 40px; }
      @media (max-width: 480px) {
        .feedbacks__inner h3 {
          font-family: "Lato", sans-serif;
          line-height: 1.2;
          font-size: 28px;
          font-weight: 300; } }
      @media (max-width: 640px) {
        .feedbacks__inner h3 {
          margin: 60px 0 20px; } }
    .feedbacks__inner p {
      max-width: 570px;
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      color: #8c8f94;
      padding: 10px 0;
      margin: 0 auto 25px; }
      @media (max-width: 420px) {
        .feedbacks__inner p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 18px;
          font-weight: 400; } }
    .feedbacks__inner .author {
      margin: 60px;
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #26272d; }
      @media (max-width: 640px) {
        .feedbacks__inner .author {
          margin: 30px; } }
  .feedbacks__photoes {
    display: flex;
    justify-content: center;
    align-items: center; }
    .feedbacks__photoes .photoes_item {
      width: 90px;
      height: 90px;
      min-width: 90px;
      max-width: 90px;
      margin: 0 65px;
      position: relative; }
      @media (max-width: 768px) {
        .feedbacks__photoes .photoes_item {
          margin: 0 35px; } }
      @media (max-width: 420px) {
        .feedbacks__photoes .photoes_item {
          width: 60px;
          height: 60px;
          min-width: 60px;
          max-width: 60px;
          margin: 0 25px; } }
      .feedbacks__photoes .photoes_item:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.6); }
      .feedbacks__photoes .photoes_item:nth-child(2) {
        width: 130px;
        height: 130px;
        min-width: 130px;
        max-width: 130px; }
        @media (max-width: 420px) {
          .feedbacks__photoes .photoes_item:nth-child(2) {
            width: 90px;
            height: 90px;
            min-width: 90px;
            max-width: 90px; } }
        .feedbacks__photoes .photoes_item:nth-child(2):before {
          background-color: rgba(255, 255, 255, 0); }
        .feedbacks__photoes .photoes_item:nth-child(2) img {
          max-width: 139px; }
      .feedbacks__photoes .photoes_item img {
        width: 100%;
        border-radius: 50%;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea; }

.location {
  padding: 120px 0;
  background-color: #fff; }
  @media (max-width: 1024px) {
    .location {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .location {
      padding: 30px 0 60px; } }
  @media (max-width: 420px) {
    .location {
      padding: 50px 0; } }
  .location__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 25px; }
    @media (max-width: 890px) {
      .location__inner {
        flex-direction: column; } }
  .location__img {
    margin: 0 -10% 0 0;
    width: 50%; }
    @media (max-width: 2008px) {
      .location__img {
        margin: 0 -15% 0 0; } }
    @media (max-width: 1400px) {
      .location__img {
        margin: 0 6% 0 0; } }
    @media (max-width: 890px) {
      .location__img {
        width: 100%;
        margin: 0 auto;
        order: 1; } }
    @media (max-width: 1024px) {
      .location__img img {
        max-width: 650px; } }
    @media (max-width: 890px) {
      .location__img img {
        max-width: 100%;
        margin: 0 auto;
        display: block; } }
  .location__text {
    width: 50%;
    margin: 0 15% 0 0; }
    @media (max-width: 1400px) {
      .location__text {
        margin: 0 5% 0 0; } }
    @media (max-width: 1024px) {
      .location__text {
        margin: 0 -3% 0 0; } }
    @media (max-width: 890px) {
      .location__text {
        order: 2;
        width: 100%;
        margin: 25px auto 0; } }
    .location__text h2 {
      font-family: "Varela Round", sans-serif;
      line-height: 1.2;
      font-size: 42px;
      font-weight: 400;
      text-align: left;
      padding: 5px 0;
      margin: 0 50px 50px 0; }
      @media (max-width: 1024px) {
        .location__text h2 {
          margin: 0 0 40px; } }
      @media (max-width: 890px) {
        .location__text h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 38px;
          font-weight: 400;
          justify-content: center;
          align-items: center;
          margin: 20px 0;
          max-width: none;
          display: flex; } }
      @media (max-width: 576px) {
        .location__text h2 {
          text-align: center;
          margin: 0 0 20px; } }
      @media (max-width: 480px) {
        .location__text h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 32px;
          font-weight: 400;
          text-align: center; } }
    .location__text p {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      color: #8c8f94; }
      @media (max-width: 890px) {
        .location__text p {
          text-align: justify; } }
      @media (max-width: 770px) {
        .location__text p {
          margin: 15px 0; } }
      @media (max-width: 420px) {
        .location__text p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 18px;
          font-weight: 400; } }
    .location__text span {
      display: block;
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 12px;
      font-weight: 700;
      color: #26272d;
      text-transform: uppercase;
      margin: 60px 0 15px 0; }
      @media (max-width: 480px) {
        .location__text span {
          text-align: center;
          margin: 40px 0 15px 0; } }
    .location__text .location_partners {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      @media (max-width: 480px) {
        .location__text .location_partners {
          justify-content: center; } }
      .location__text .location_partners img.ever {
        margin-left: 20px; }

.main_block {
  background: url(../images/bg.bfbf.jpg) center/cover no-repeat fixed #fff;
  padding: 170px 0 0 0; }
  @media (max-width: 900px) {
    .main_block {
      background-attachment: scroll; } }
  .main_block__inner {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main_block__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main_block__intro h1 {
      font-family: "Varela Round", sans-serif;
      line-height: 1.2;
      font-size: 62px;
      font-weight: 400;
      padding: 10px;
      margin: 60px 15px 15px;
      text-align: center; }
      @media (max-width: 900px) {
        .main_block__intro h1 {
          margin: 115px 15px 15px;
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 52px;
          font-weight: 400; } }
      @media (max-width: 640px) {
        .main_block__intro h1 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 47px;
          font-weight: 400; } }
      @media (max-width: 420px) {
        .main_block__intro h1 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 42px;
          font-weight: 400; } }
    .main_block__intro p {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      color: #8c8f94;
      text-align: center;
      max-width: 790px;
      padding: 10px 15px; }
      @media (max-width: 640px) {
        .main_block__intro p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 18px;
          font-weight: 400; } }
      @media (max-width: 420px) {
        .main_block__intro p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 16px;
          font-weight: 400; } }
  .main_block .button__light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 50px;
    background-color: #fff;
    transition: background-color 0.2s linear;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #e9e9ea;
    margin: 50px 0 60px; }
    .main_block .button__light:hover {
      background: #bcbcbd;
      background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
      border-radius: 21px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea; }
    .main_block .button__light:hover {
      color: #fff; }
    .main_block .button__light img {
      margin-right: 15px; }
  .main_block .device {
    display: block; }
    .main_block .device__item {
      display: block;
      padding: 0 10px;
      margin: 0 auto; }
      @media (max-width: 900px) {
        .main_block .device__item {
          width: 350px; } }
      @media (max-width: 640px) {
        .main_block .device__item {
          width: 340px; } }
      @media (max-width: 480px) {
        .main_block .device__item {
          width: 300px; } }
      @media (max-width: 420px) {
        .main_block .device__item {
          width: 290px; } }
      @media (max-width: 330px) {
        .main_block .device__item {
          width: 250px; } }

.plan {
  background-color: #f4f4f5; }
  @media (max-width: 1024px) {
    .plan {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .plan {
      padding: 60px 0; } }
  @media (max-width: 420px) {
    .plan {
      padding: 50px 0; } }
  .plan__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    @media (max-width: 1180px) {
      .plan__inner {
        flex-direction: column; } }
  .plan .choose {
    padding: 30px 10px;
    width: 40%; }
    @media (max-width: 1180px) {
      .plan .choose {
        width: 100%;
        padding: 0 10px;
        text-align: center; } }
    .plan .choose h2 {
      margin: 10px 0 60px;
      font-family: "Varela Round", sans-serif;
      line-height: 1.2;
      font-size: 42px;
      font-weight: 400; }
      @media (max-width: 890px) {
        .plan .choose h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 38px;
          font-weight: 400; } }
      @media (max-width: 480px) {
        .plan .choose h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 32px;
          font-weight: 400; } }
    .plan .choose #app-cover {
      display: block;
      margin: 80px auto;
      counter-reset: button-counter; }
      @media (max-width: 1180px) {
        .plan .choose #app-cover {
          margin: 70px auto 50px; } }
    .plan .choose .button-cover {
      height: 50px;
      width: 260px;
      background-color: #f4f4f5;
      border: 1px solid #cbcbce;
      border-radius: 21px; }
      @media (max-width: 1180px) {
        .plan .choose .button-cover {
          margin: 0 auto; } }
    .plan .choose .switch-button {
      position: relative;
      top: 50%;
      width: 210px;
      height: 47px;
      margin: -19px auto 0; }
    .plan .choose .layer {
      border-radius: 100px; }
    .plan .choose .switch-button.b2 {
      border-radius: 2px; }
    .plan .choose .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
      -webkit-tap-highlight-color: transparent; }
    .plan .choose .knobs {
      z-index: 2; }
    .plan .choose .layer {
      width: 100%;
      background-color: #ebf7fc;
      transition: 0.3s ease all;
      z-index: 1; }
    .plan .choose .switch-button .knobs:before,
    .plan .choose .switch-button .knobs:after,
    .plan .choose .switch-button .knobs span {
      position: absolute;
      top: -2px;
      width: 85px;
      height: 20px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 1;
      padding: 10px 3px;
      border-radius: 21px;
      transition: 0.3s ease all; }
    .plan .choose .switch-button .knobs:before {
      content: '';
      left: -20px;
      background-color: #fff;
      width: 124px;
      box-shadow: 10px 7px 50px 9px rgba(0, 0, 0, 0.15); }
    .plan .choose .switch-button .knobs:after {
      content: 'Company';
      left: 130px;
      color: #8c8f94; }
    .plan .choose .switch-button .knobs span {
      display: block;
      left: 0;
      color: #26272d;
      z-index: 1; }
    .plan .choose .switch-button .checkbox:checked + .knobs span {
      color: #8c8f94; }
    .plan .choose .switch-button .checkbox:checked + .knobs:before {
      left: 100px;
      background-color: #fff; }
    .plan .choose .switch-button .checkbox:checked + .knobs:after {
      color: #26272d; }
    .plan .choose .switch-button .checkbox:checked ~ .layer {
      background-color: #fcebeb; }
    .plan .choose p {
      margin: 70px 0 40px;
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      color: #8c8f94; }
      @media (max-width: 420px) {
        .plan .choose p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 18px;
          font-weight: 400; } }
    .plan .choose .lets {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 400;
      color: #8c8f94; }
      .plan .choose .lets a, .plan .choose .lets .offer .starter__button, .plan .offer .choose .lets .starter__button, .plan .choose .lets .offer .pro__button, .plan .offer .choose .lets .pro__button {
        color: #267df4;
        display: inline;
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 400; }
      @media (max-width: 1180px) {
        .plan .choose .lets {
          margin: 40px; } }
  .plan h3 {
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    font-size: 32px;
    font-weight: 300; }
    @media (max-width: 480px) {
      .plan h3 {
        font-size: 28px; } }
  .plan .price {
    margin: 25px auto 45px;
    width: 65px;
    height: 27px;
    border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    font-size: 11px;
    font-weight: 700; }
    @media (max-width: 735px) {
      .plan .price {
        margin: 25px auto 25px; } }
  .plan .slogan {
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
    color: #8c8f94;
    margin-bottom: 30px;
    padding: 5px 26px; }
    @media (max-width: 735px) {
      .plan .slogan {
        padding: 5px 5px; } }
  .plan .feature {
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    color: #26272d;
    margin: 10px 0;
    text-align: justify;
    position: relative;
    padding: 0 0 0 25px; }
    .plan .feature:before {
      content: "";
      display: block;
      width: 15px;
      height: 12px;
      min-width: 15px;
      min-height: 12px;
      background: url(../images/checked_icon.06a2.png) center/contain no-repeat;
      position: absolute;
      top: 21%;
      left: -5px; }
  .plan a, .plan .offer .starter__button, .plan .offer .pro__button {
    display: block;
    height: 45px;
    width: 214px;
    border-radius: 21px;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0; }
  .plan .offer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; }
    @media (max-width: 1180px) {
      .plan .offer {
        width: 100%;
        position: unset;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1; } }
    .plan .offer .starter {
      height: 550px;
      width: 340px;
      background-color: #fff;
      border-radius: 10px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea;
      padding: 35px 45px 45px 60px;
      -webkit-box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 9%;
      top: -3%;
      text-align: center;
      margin-bottom: 15px; }
      @media (max-width: 1180px) {
        .plan .offer .starter {
          position: unset;
          height: 510px; } }
      .plan .offer .starter__button {
        background-color: #267df4;
        color: #fff;
        margin: 85px auto 50px; }
        .plan .offer .starter__button:hover {
          background-color: transparent;
          color: #267df4;
          border: 1px solid #267df4; }
        @media (max-width: 1180px) {
          .plan .offer .starter__button {
            margin: 83px auto 10px; } }
        @media (max-width: 735px) {
          .plan .offer .starter__button {
            margin: 56px auto 10px; } }
    .plan .offer .pro {
      width: 340px;
      height: 510px;
      background-color: #eaeaec;
      border-radius: 10px;
      border-width: 0;
      border-style: solid;
      border-color: #e9e9ea;
      padding: 35px 45px 45px 60px;
      text-align: center;
      margin-bottom: 15px; }
      @media (max-width: 1180px) {
        .plan .offer .pro {
          box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2); } }
      .plan .offer .pro__button {
        background-color: transparent;
        color: #267df4;
        border: 1px solid #267df4;
        margin: 50px auto 10px; }
        .plan .offer .pro__button:hover {
          background-color: #267df4;
          color: #fff; }

.protect {
  padding: 120px 0;
  background-color: #fff; }
  @media (max-width: 1024px) {
    .protect {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .protect {
      padding: 60px 0; } }
  @media (max-width: 420px) {
    .protect {
      padding: 50px 0; } }
  .protect__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 25px; }
    @media (max-width: 1024px) {
      .protect__inner {
        align-items: flex-start; } }
    @media (max-width: 890px) {
      .protect__inner {
        flex-direction: column; } }
  .protect__img {
    margin: 0 10% 0 -30%;
    width: 50%; }
    @media (max-width: 1400px) {
      .protect__img {
        margin: 0 0 0 -18%; } }
    @media (max-width: 890px) {
      .protect__img {
        margin: 0 auto;
        width: 100%; } }
    .protect__img img {
      max-width: 800px; }
      @media (max-width: 1400px) {
        .protect__img img {
          max-width: 700px; } }
      @media (max-width: 1024px) {
        .protect__img img {
          max-width: 650px; } }
      @media (max-width: 930px) {
        .protect__img img {
          max-width: 600px; } }
      @media (max-width: 950px) {
        .protect__img img {
          max-width: 550px;
          margin: 0 auto;
          display: block; } }
      @media (max-width: 576px) {
        .protect__img img {
          max-width: 400px; } }
      @media (max-width: 480px) {
        .protect__img img {
          display: none; } }
  .protect__text {
    width: 50%;
    margin: 0 0 0 30%; }
    @media (max-width: 1400px) {
      .protect__text {
        margin: 0 0 0 25%; } }
    @media (max-width: 890px) {
      .protect__text {
        margin: 25px auto 0;
        width: 100%; } }
    @media (max-width: 480px) {
      .protect__text {
        margin: 0;
        padding: 0; } }
    .protect__text h2 {
      font-family: "Varela Round", sans-serif;
      line-height: 1.2;
      font-size: 42px;
      font-weight: 400;
      text-align: left;
      max-width: 255px;
      margin: 60px 0; }
      @media (max-width: 1024px) {
        .protect__text h2 {
          margin: 0 0 40px; } }
      @media (max-width: 890px) {
        .protect__text h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 38px;
          font-weight: 400;
          justify-content: center;
          align-items: center;
          margin: 20px;
          max-width: none;
          display: flex; } }
      @media (max-width: 576px) {
        .protect__text h2 {
          text-align: center;
          margin: 0 0 20px; } }
      @media (max-width: 480px) {
        .protect__text h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 32px;
          font-weight: 400;
          text-align: center; } }
    .protect__text p {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      color: #8c8f94; }
      @media (max-width: 890px) {
        .protect__text p {
          text-align: justify; } }
      @media (max-width: 770px) {
        .protect__text p {
          margin: 15px 0; } }
      @media (max-width: 420px) {
        .protect__text p {
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 18px;
          font-weight: 400; } }
  .protect__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 70px 0 0; }
    @media (max-width: 890px) {
      .protect__buttons {
        justify-content: center;
        align-items: center;
        margin: 60px 0 0; } }
    @media (max-width: 480px) {
      .protect__buttons {
        justify-content: space-between;
        margin: 50px 0 0; } }
    .protect__buttons a.button__blue, .protect__buttons .plan .offer .button__blue.starter__button, .plan .offer .protect__buttons .button__blue.starter__button, .protect__buttons .plan .offer .button__blue.pro__button, .plan .offer .protect__buttons .button__blue.pro__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 202px;
      height: 42px;
      background-color: #267df4;
      transition: background-color 0.2s linear;
      margin-right: 21px; }
      .protect__buttons a.button__blue:hover, .protect__buttons .plan .offer .button__blue.starter__button:hover, .plan .offer .protect__buttons .button__blue.starter__button:hover, .protect__buttons .plan .offer .button__blue.pro__button:hover, .plan .offer .protect__buttons .button__blue.pro__button:hover {
        background: #bcbcbd;
        background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
        border-radius: 21px;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea; }
      .protect__buttons a.button__blue span, .protect__buttons .plan .offer .button__blue.starter__button span, .plan .offer .protect__buttons .button__blue.starter__button span, .protect__buttons .plan .offer .button__blue.pro__button span, .plan .offer .protect__buttons .button__blue.pro__button span {
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
        margin-right: 45px; }
        @media (max-width: 480px) {
          .protect__buttons a.button__blue span, .protect__buttons .plan .offer .button__blue.starter__button span, .plan .offer .protect__buttons .button__blue.starter__button span, .protect__buttons .plan .offer .button__blue.pro__button span, .plan .offer .protect__buttons .button__blue.pro__button span {
            margin-right: 10px;
            padding: 10px 5px 10px 15px;
            line-height: 1; } }
        @media (max-width: 420px) {
          .protect__buttons a.button__blue span, .protect__buttons .plan .offer .button__blue.starter__button span, .plan .offer .protect__buttons .button__blue.starter__button span, .protect__buttons .plan .offer .button__blue.pro__button span, .plan .offer .protect__buttons .button__blue.pro__button span {
            margin-right: 5px; } }
      @media (max-width: 890px) {
        .protect__buttons a.button__blue, .protect__buttons .plan .offer .button__blue.starter__button, .plan .offer .protect__buttons .button__blue.starter__button, .protect__buttons .plan .offer .button__blue.pro__button, .plan .offer .protect__buttons .button__blue.pro__button {
          margin: 0 30px 0 0; } }
      @media (max-width: 480px) {
        .protect__buttons a.button__blue, .protect__buttons .plan .offer .button__blue.starter__button, .plan .offer .protect__buttons .button__blue.starter__button, .protect__buttons .plan .offer .button__blue.pro__button, .plan .offer .protect__buttons .button__blue.pro__button {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 162px;
          height: 42px;
          background-color: #267df4;
          transition: background-color 0.2s linear; }
          .protect__buttons a.button__blue:hover, .protect__buttons .plan .offer .button__blue.starter__button:hover, .plan .offer .protect__buttons .button__blue.starter__button:hover, .protect__buttons .plan .offer .button__blue.pro__button:hover, .plan .offer .protect__buttons .button__blue.pro__button:hover {
            background: #bcbcbd;
            background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
            border-radius: 21px;
            border-width: 0;
            border-style: solid;
            border-color: #e9e9ea; } }
    .protect__buttons a.button__light, .protect__buttons .plan .offer .button__light.starter__button, .plan .offer .protect__buttons .button__light.starter__button, .protect__buttons .plan .offer .button__light.pro__button, .plan .offer .protect__buttons .button__light.pro__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 142px;
      height: 42px;
      background-color: #fff;
      transition: background-color 0.2s linear;
      border-radius: 21px;
      border-width: 1px;
      border-style: solid;
      border-color: #e9e9ea; }
      .protect__buttons a.button__light:hover, .protect__buttons .plan .offer .button__light.starter__button:hover, .plan .offer .protect__buttons .button__light.starter__button:hover, .protect__buttons .plan .offer .button__light.pro__button:hover, .plan .offer .protect__buttons .button__light.pro__button:hover {
        background: #bcbcbd;
        background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
        border-radius: 21px;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea; }
      .protect__buttons a.button__light:hover, .protect__buttons .plan .offer .button__light.starter__button:hover, .plan .offer .protect__buttons .button__light.starter__button:hover, .protect__buttons .plan .offer .button__light.pro__button:hover, .plan .offer .protect__buttons .button__light.pro__button:hover {
        color: #fff;
        border-width: 1px; }
      .protect__buttons a.button__light span, .protect__buttons .plan .offer .button__light.starter__button span, .plan .offer .protect__buttons .button__light.starter__button span, .protect__buttons .plan .offer .button__light.pro__button span, .plan .offer .protect__buttons .button__light.pro__button span {
        font-family: "Lato", sans-serif;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400; }
      @media (max-width: 890px) {
        .protect__buttons a.button__light, .protect__buttons .plan .offer .button__light.starter__button, .plan .offer .protect__buttons .button__light.starter__button, .protect__buttons .plan .offer .button__light.pro__button, .plan .offer .protect__buttons .button__light.pro__button {
          margin: 0 0 0 30px; } }

.subscribe {
  padding: 100px 0 80px;
  text-align: center; }
  @media (max-width: 1024px) {
    .subscribe {
      padding: 90px 0; } }
  @media (max-width: 890px) {
    .subscribe {
      padding: 60px 0; } }
  @media (max-width: 420px) {
    .subscribe {
      padding: 50px 0; } }
  .subscribe__inner {
    position: relative; }
    .subscribe__inner:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #f4f4f4;
      position: absolute;
      top: 134%;
      left: 0; }
    .subscribe__inner h2 {
      font-family: "Varela Round", sans-serif;
      line-height: 1.2;
      font-size: 42px;
      font-weight: 400; }
      @media (max-width: 890px) {
        .subscribe__inner h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 38px;
          font-weight: 400;
          margin: 0 0 60px 0; } }
      @media (max-width: 480px) {
        .subscribe__inner h2 {
          font-family: "Varela Round", sans-serif;
          line-height: 1.2;
          font-size: 32px;
          font-weight: 400; } }
    .subscribe__inner .form {
      margin: 50px 0; }
      .subscribe__inner .form__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border-width: 1px;
        border-style: solid;
        border-color: #cbcbce;
        margin: 0 auto;
        padding: 4px;
        max-width: 500px; }
        .subscribe__inner .form__wrapper input {
          background-color: transparent;
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 16px;
          font-weight: 400;
          color: #3a3d4b;
          min-width: 65%;
          margin-left: 20px; }
          @media (max-width: 420px) {
            .subscribe__inner .form__wrapper input {
              min-width: 60%;
              margin-left: 10px; } }
      .subscribe__inner .form__button {
        border-radius: 21px;
        border-width: 0;
        border-style: solid;
        border-color: #e9e9ea;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 38px;
        background-color: #6fc754;
        transition: background-color 0.2s linear;
        max-width: 35%;
        color: #fff;
        padding: 2px 5px;
        overflow: hidden; }
        .subscribe__inner .form__button:hover {
          background: #bcbcbd;
          background: linear-gradient(58deg, #bcbcbd 0%, #999898 50%, #130e0e 100%);
          border-radius: 21px;
          border-width: 0;
          border-style: solid;
          border-color: #e9e9ea; }
        .subscribe__inner .form__button div {
          margin: 0 10px;
          font-family: "Lato", sans-serif;
          line-height: 1.4;
          font-size: 16px;
          font-weight: 400; }
        .subscribe__inner .form__button img {
          display: none; }
    .subscribe__inner span {
      font-family: "Lato", sans-serif;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 400;
      color: #8c8f94; }


/*# sourceMappingURL=style.css.map*/