.plan {
  background-color: $bg-gray;

  @include res(1024) {
    padding: 90px 0;
  }

  @include res(890) {
    padding: 60px 0;
  }

  @include res(420) {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    @include res(1180) {
      flex-direction: column;

    }

  }

  .choose {
    padding: 30px 10px;
    width: 40%;



    @include res(1180) {
      width: 100%;
      padding: 0 10px;
      text-align: center;
    }

    h2 {
      margin: 10px 0 60px;
      @include hFont();

      @include res(890) {
        @include hFont(38px);

      }


      @include res(480) {
        @include hFont(32px);

      }
    }


    //Button-switcher

    #app-cover {
      display: block;
      margin: 80px auto;
      counter-reset: button-counter;


      @include res(1180) {
        margin: 70px auto 50px;
      }
    }

    .button-cover {
      height: 50px;
      width: 260px;
      background-color: #f4f4f5;
      border: 1px solid #cbcbce;
      border-radius: 21px;

      @include res(1180) {
        margin: 0 auto;

      }
    }


    .switch-button {
      position: relative;
      top: 50%;
      width: 210px;
      height: 47px;
      margin: -19px auto 0;

    }

    .layer {
      border-radius: 100px;
    }

    .switch-button.b2 {
      border-radius: 2px;
    }

    .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
      -webkit-tap-highlight-color: transparent;
    }

    .knobs {
      z-index: 2;
    }

    .layer {
      width: 100%;
      background-color: #ebf7fc;
      transition: 0.3s ease all;
      z-index: 1;
    }

    .switch-button .knobs:before,
    .switch-button .knobs:after,
    .switch-button .knobs span {

      position: absolute;
      top: -2px;
      width: 85px;
      height: 20px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 1;
      padding: 10px 3px;
      border-radius: 21px;
      transition: 0.3s ease all;

    }

    .switch-button .knobs:before {
      content: '';
      left: -20px;
      background-color: $white;
      width: 124px;
      box-shadow: 10px 7px 50px 9px rgba(0, 0, 0, 0.15);
    }

    .switch-button .knobs:after {
      content: 'Company';
      left: 130px;
      color: $main-text-color;
    }

    .switch-button .knobs span {
      display: block;
      left: 0;
      color: $black;
      z-index: 1;
    }

    .switch-button .checkbox:checked+.knobs span {
      color: $main-text-color;
    }

    .switch-button .checkbox:checked+.knobs:before {
      left: 100px;
      background-color: #fff;
    }

    .switch-button .checkbox:checked+.knobs:after {
      color: $black;
    }

    .switch-button .checkbox:checked~.layer {
      background-color: #fcebeb;
    }

    //End of button-switcher

    p {
      margin: 70px 0 40px;
      @include font(20px, 400);
      color: $main-text-color;

      @include res(420) {
        @include font(18px);
      }
    }

    .lets {
      @include font(14px, 400);
      color: $main-text-color;

      a {
        color: $blue;
        display: inline;
        @include font(14px, 400);
      }

      @include res(1180) {
        margin: 40px;
      }

    }
  }

  //offer (starter, pro) styles

  h3 {
    @include hFont(32px, 300, $fontLato);

    @include res(480) {
      font-size: 28px;

    }
  }

  .price {
    margin: 25px auto 45px;
    width: 65px;
    height: 27px;
    @include border(1px, 14px, #c4c4c6);
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(11px, 700);

    @include res(735) {
      margin: 25px auto 25px;
    }
  }

  .slogan {
    @include font(20px);
    color: $main-text-color;
    margin-bottom: 30px;
    padding: 5px 26px;

    @include res(735) {
      padding: 5px 5px;
    }
  }

  .feature {
    @include font(16px, 400);
    color: $black;
    margin: 10px 0;
    text-align: justify;
    position: relative;
    padding: 0 0 0 25px;

    &:before {
      content: "";
      display: block;
      width: 15px;
      height: 12px;
      min-width: 15px;
      min-height: 12px;
      background: url(../images/checked_icon.png) center/contain no-repeat;
      position: absolute;
      top: 21%;
      left: -5px;
    }
  }

  a {
    display: block;
    height: 45px;
    width: 214px;
    border-radius: 21px;
    @include font(16px);
    padding: 10px 0;
  }



  .offer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;


    @include res(1180) {
      width: 100%;
      position: unset;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;


    }

    //starter
    .starter {

      height: 550px;
      width: 340px;
      background-color: $white;
      @include border(0, 10px);
      padding: 35px 45px 45px 60px;
      -webkit-box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 9%;
      top: -3%;

      text-align: center;
      margin-bottom: 15px;




      @include res(1180) {
        position: unset;
        height: 510px;


      }


      @include res(960) {}


      &__button {
        @extend a;
        background-color: $blue;
        color: $white;
        margin: 85px auto 50px;

        &:hover {
          background-color: transparent;
          color: $blue;
          border: 1px solid $blue;
        }

        @include res(1180) {
          margin: 83px auto 10px;
        }

        @include res(735) {
          margin: 56px auto 10px;
        }

      }
    }

    .pro {
      width: 340px;
      height: 510px;
      background-color: #eaeaec;
      @include border(0, 10px);
      padding: 35px 45px 45px 60px;
      text-align: center;
      margin-bottom: 15px;

      @include res(1180) {
        box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      }



      &__button {
        @extend a;
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
        margin: 50px auto 10px;

        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }


}