.interface {
  background-color: $bg-gray;
  position: relative;

  @include res(1024) {
    padding: 90px 0;
  }

  @include res(890) {
    padding: 30px 0 60px;
  }

  @include res(420) {
    padding: 50px 0;
  }

  &__inner {
    text-align: center;

    &__text {
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        background-color: $blue;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // h2 {
      //   @include hFont();
      //   color: $black;
      //   padding: 5px;
      //   margin: 0 0 90px 0;
      // }

      span {
        display: block;
        margin: 50px 0 40px 0;
        text-transform: uppercase;
        @include font(12px, 400);
        color: $light-gray-text-color;
      }
    }
  }

  .interface-swiper-container {
    // min-height: 800px;
    margin-left: -400px;
    margin-right: -400px;
    margin-top: 30px;

    @include res(960) {
      margin-top: 70px;
    }

    @include res(640) {
      margin-top: 0;
    }
  }

  .swiper-slide {
    text-align: center;
    background: transparent;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 12%;



    // @include res(770) {
    //   width: 400px;
    // }

  }

  &__slider {
    margin-bottom: 120px;

    .slider__item {
      max-height: 580px;
      box-shadow: 0px 3px 29px 10px rgba(0, 0, 0, 0.2);
      align-self: center;

      &:nth-child(3) {
        box-shadow: none;
        max-width: 370px;
        max-height: 750px;
        align-self: center;
      }


      @include res(576) {
        margin-top: 0;
      }

      img {
        width: 103%;
        height: auto;
      }
    }
  }


  span {
    display: block;
    margin: 0 0 25px 0;
    text-transform: uppercase;
    @include font(12px, 400);
    color: $light-gray-text-color;
  }

  h2 {
    @include hFont();
    color: $black;
    padding: 5px;
    margin: 0 0 90px 0;

    @include res(890) {
      @include hFont(38px);
      margin: 0 0 60px 0;

    }

    @include res(480) {
      @include hFont(32px);
    }
  }

  .form {
    margin: 50px 0;

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include border(1px, 25px, #cbcbce);
      margin: 0 auto;
      padding: 4px;
      max-width: 500px;

      input {
        background-color: transparent;
        @include font(16px);
        color: #3a3d4b;
        min-width: 65%;
        margin-left: 20px;

        @include res(420) {
          min-width: 60%;
          margin-left: 10px;
        }
      }
    }

    &__button {
      @include border();
      @include button(165px, 38px, $green);
      max-width: 35%;
      color: $white;
      padding: 3px 5px;



      div {
        margin: 0 10px;
        @include font(16px);
        align-self: center;

        @include res(420) {
          font-size: 14px;
          line-height: 1;
        }
      }

      img {
        @include res(420) {
          display: none;
        }
      }
    }


  }

  a.download__button {
    display: block;
    @include border(0, 30px);
    @include button(200px, 60px, $black);
    padding: 12px 20px;
    margin: 0 auto;

    &:hover {
      @include border(0, 30px);
    }

    div {
      @include font(12px);
      color: $white;
      margin: 0 12px;

      .app {
        @include font(23px);
        margin: 0;
      }
    }
  }
}