$white: #fff;
$blue: #267df4;
$green: #6fc754;
$red: #f56877;
$main-text-color: #8c8f94;
$light-gray-text-color:#a5a9b0;
$bgOfLine: #f4f4f4;
$bg-gray: #f4f4f5;
$black:#26272d;
// $input-border: rgba(255, 255, 255, .3);
$warning: #ffd500;
$invalid: #ee021b;
$fontLato: 'Lato',
sans-serif;
$fontVarela: 'Varela Round',
sans-serif;